@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="chatController as data">
    <div class="col-sm-8">
        <canvas width="600" height="400" class="canvas cur"></canvas>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="well">
                <div class="chatBox">
                    <ul>
                        <li ng-repeat="chat in data.Messages">
                            <span ng-bind="chat"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                
                <div class="col-md-10">
                Name:<input type="text" ng-model="data.Name" class="form-control" name="NewMessage " /></div>
                    

            </div>
                <div class="form-group">
                   
                    <div class="col-md-10">
                    Message:<input type="text" ng-model="data.Message" class="form-control" name="NewMessage " /></div>
                   <div class="col-md-2 ">
                    <button type="submit" class="btn btn-primary" ng-click="data.newMessage()">Send</button>
                </div>
                
            </div>
        </div>
        
        
    </div>
    
</div>